<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SubTicket</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Мы нашли для Вас дешёвые билеты!</p>
<p>
<div>Город отправления:</div>
<b id="originName" th:text="${originName}">Москва</b>
</p>
<p>
<div>Город назначения:</div>
<b id="destinationName" th:text="${destinationName}">Санкт-Петербург</b>
</p>
<p>
<div>Продолжительность поездки в днях:</div>
<b id="tripDuration" th:text="${tripDuration}">2</b>
</p>
<p>
<div>Дата отправления:</div>
<b id="departureDate" th:text="${departureDate}">2019-01-02</b>
</p>
<p>
<div>Дата возвращения:</div>
<b id="returnDate" th:text="${returnDate}">2019-01-04</b>
</p>
<p>
<div>Пересадок туда:</div>
<b id="numberOfChangesDepartTicket" th:text="${numberOfChangesDepartTicket}">1</b>
</p>
<p>
<div>Пересадок обратно:</div>
<b id="numberOfChangesReturnTicket" th:text="${numberOfChangesReturnTicket}">0</b>
</p>
<div>Общая стоимость поездки:</div>
<b id="sumValue" th:text="${sumValue}">2199</b>
</p>
</body>
</html>