<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SubTicket</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Мы нашли для Вас дешёвые билеты!</p>
<p>

<div id="routes">
    <table border="1" style="width:80%">
        <thead>
        <tr>
            <th>Город отправления</th>
            <th>Город прибытия</th>
            <th>Продолжительность поездки в днях</th>
            <th>Дата отправления</th>
            <th>Дата возвращения</th>
            <th>Пересадок туда</th>
            <th>Пересадок обратно</th>
            <th>Общая стоимость поездки</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route : ${routes}">
            <td><span th:text="${route.departTicket.originName}">Москва</span></td>
            <td><span th:text="${route.departTicket.destinationName}"> Санкт-Петербург </span></td>
            <td><span th:text="${route.tripDurationInDays}"> 2 </span></td>
            <td><span th:text="${route.departTicket.departDate}"> 2019-02-02 </span></td>
            <td><span th:text="${route.returnTicket.departDate}"> 2019-02-04 </span></td>
            <td><span th:text="${route.departTicket.numberOfChanges}"> 0 </span></td>
            <td><span th:text="${route.returnTicket.numberOfChanges}"> 1 </span></td>
            <td><span th:text="${route.sumValue}"> 1300 </span></td>
            <td><a th:href="${route.affilateLink}">Купить билет</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>