<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SubTicket</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Мы нашли для Вас дешёвые билеты!</p>
<p>

<div id="routes">
    <table border="1" style="width:80%">
        <thead>
        <tr>
            <th>Город отправления</th>
            <th>Город прибытия</th>
            <th>Продолжительность поездки в днях</th>
            <th>Дата отправления</th>
            <th>Дата возвращения</th>
            <th>Пересадок туда</th>
            <th>Пересадок обратно</th>
            <th>Общая стоимость поездки</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="route : ${routes}">
            <td><span th:text="${route.departTicket.origin}">?</span></td>
            <td><span th:text="${route.departTicket.destination}"> ? </span></td>
            <td><span th:text="${route.tripDurationInDays}"> ? </span></td>
            <td><span th:text="${route.departTicket.departDate}"> ? </span></td>
            <td><span th:text="${route.returnTicket.departDate}"> ? </span></td>
            <td><span th:text="${route.departTicket.numberOfChanges}"> ? </span></td>
            <td><span th:text="${route.returnTicket.numberOfChanges}"> ? </span></td>
            <td><span th:text="${route.sumValue}"> ? </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>