<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main menu</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

</head>
<body>

<span>
<form method="post" th:action="@{/main/saveSubscription}" th:object="${subscriptionDTO}">
    <table border="1">
        <tbody>
        <tr>
            <td>
                <p>Откуда</p>
                <input autocomplete="off" placeholder="Москва" th:field="*{originName}" th:required="true" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Куда</p>
                <input autocomplete="off" placeholder="Лондон" th:field="*{destinationName}" th:required="true"
                       type="text"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Пребывание в днях (от)</p>
                <input autocomplete="off" placeholder="1" th:field="*{tripDurationInDaysFrom}" th:required="true"
                       type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Пребывание в днях (до)</p>
                <input autocomplete="off" placeholder="3" th:field="*{tripDurationInDaysTo}" th:required="true"
                       type="text"/>
            </td>
        </tr>
        </tbody>
        </table>
     <input type="submit" value="Создать подписку"/>
</form>
    </span>


<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>