<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main menu</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
</head>
<body>
<form method="post" th:action="@{/main/saveSubscription}" th:object="${subscriptionCommandObject}">
    <div class="form-group">
        <div class="form-row col-auto">
            <label for="originName">Откуда</label>
            <input autocomplete="off" class="form-control" id="originName" th:field="*{originName}" th:required="true"
                   type="text"/>
        </div>
        <div class="form-row col-auto">
            <label for="originName">Куда</label>
            <input autocomplete="off" class="form-control" id="destinationName" th:field="*{destinationName}"
                   th:required="true" type="text"/>
        </div>


        <a aria-controls="tripDuration" aria-expanded="false" class="btn btn-primary" data-toggle="collapse"
           href="#tripDuration" role="button">
            Настроить длительность поездки
        </a>

        <div class="collapse" id="tripDuration">
            <div class="card card-body">
                <div class="form-row col-auto">
                    <label for="originName">Пребывание в днях (от)</label>
                    <input autocomplete="off" class="form-control" id="tripDurationInDaysFrom"
                           th:field="*{tripDurationInDaysFrom}" th:required="true" type="text"/>
                </div>
                <div class="form-row col-auto">
                    <label for="originName">Пребывание в днях (до)</label>
                    <input autocomplete="off" class="form-control" id="tripDurationInDaysTo"
                           th:field="*{tripDurationInDaysTo}"
                           th:required="true" type="text"/>
                </div>
            </div>
    </div>
        <a aria-controls="price" aria-expanded="false" class="btn btn-primary" data-toggle="collapse" href="#price"
           role="button">
            Настроить цену
        </a>

        <div class="collapse" id="price">
            <div class="card card-body">
                <div class="form-row col-auto">
                    <label for="originName">Цена (не дороже)</label>
                    <input autocomplete="off" class="form-control" id="maxPrice" th:field="*{maxPrice}"
                           th:required="true" type="text"/>
                </div>
            </div>
        </div>
    <button class="btn btn-primary" type="submit">Создать подписку</button>
</form>

<span>Ваши подписки:</span>
<table border="1" style="width:80%">
    <thead>
    <tr>
        <th>Откуда</th>
        <th>Куда</th>
        <th>Время пребывания в днях (от)</th>
        <th>Время пребывания в днях (до)</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subscription,iterStat : ${ownerSubscriptions}">
        <td><span th:text="${subscription.originName}">originName</span></td>
        <td><span th:text="${subscription.destinationName}">destinationName</span></td>
        <td><span th:text="${subscription.tripDurationInDaysFrom}">tripDurationInDaysFrom</span></td>
        <td><span th:text="${subscription.tripDurationInDaysTo}">tripDurationInDaysTo</span></td>
        <td>
            <form method="post" th:action="@{/main/deleteSubscription}" th:object="${subscriptionCommandObject}">
                <input id="id" name="id" th:value="${iterStat.current.id}" type="hidden"/>
                <button class="btn btn-outline-info" type="submit">Удалить подписку</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>