<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign Up For Beta Form</title>
    <link href="/static/css/signup.css" rel="stylesheet" th:href="@{/css/signup.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<form action="#" method="post" name="sign up for beta form">
    <div class="header">
        <p>Sign Up For Beta</p>
    </div>
    <div class="description">
        <p>Milkshake is almost ready. If you're interested in testing it out, then sign up below to get exclusive
            access.</p>
    </div>
    <div class="input">
        <input class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM" type="text">
        <input class="button" id="submit" type="submit" value="SIGN UP">
    </div>
</form>
</body>
</html>