<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscription menu</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

</head>
<body>
<a th:href="@{/admin}"><b>Back to admin menu</b></a>
<p>Total subscriptions: <span th:text="${@subscriptionServiceImpl.count()}">Unknown</span></p>
<!-- Actions table -->
<table border="1" style="width:30%" summary="Actions">
    <tr>
        <td>
            <form method="post" th:action="@{/admin/subscription/add}" th:object="${subscriptionCommandObject}">
                <select th:field="*{owner}">
                    <option value="">-</option>
                    <option th:each="ownerEntry : ${@ownerServiceImpl.findAll()}" th:text="${ownerEntry.email}"
                            th:value="${ownerEntry.id}"/>
                </select>
                <p><input autocomplete="off" placeholder="originName" th:field="*{originName}" th:required="false"
                          type="text"/>
                </p>
                <p><input autocomplete="off" placeholder="destinationName" th:field="*{destinationName}"
                          th:required="false"
                          type="text"/></p>
                <p><input autocomplete="off" placeholder="departDate" th:field="*{departDate}" th:required="false"
                          th:value="*{departDate}" type="date"/></p>
                <p><input autocomplete="off" placeholder="returnDate" th:field="*{returnDate}" th:required="false"
                          th:value="*{returnDate}" type="date"/></p>
                <p><input autocomplete="off" placeholder="tripDurationInDaysFrom" th:field="*{tripDurationInDaysFrom}"
                          type="text"/></p>
                <p><input autocomplete="off" placeholder="tripDurationInDaysTo" th:field="*{tripDurationInDaysTo}"
                          type="text"/></p>
                <p><input type="submit" value="Create"/></p>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/admin/subscription/delete}" th:object="${subscriptionCommandObject}">
                <input autocomplete="off" placeholder="Id" th:field="*{id}" type="text"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<!-- Subscriptions table -->
<table border="1" style="width:80%">
    <thead>
    <tr>
        <th>id</th>
        <th>creationTimestamp</th>
        <th>owner</th>
        <th>origin</th>
        <th>destination</th>
        <th>departDate</th>
        <th>returnDate</th>
        <th>tripDurationInDaysFrom</th>
        <th>tripDurationInDaysTo</th>
        <th>subscriptionType</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subscription : ${@subscriptionServiceImpl.findAll()}">
        <td><span th:text="${subscription.id}">id</span></td>
        <td><span th:text="${subscription.creationTimestamp}"> creationTimestamp </span></td>
        <td><span th:text="${subscription.owner}"> owner </span></td>
        <td><span th:text="${subscription.origin}"> origin </span></td>
        <td><span th:text="${subscription.destination}"> destination </span></td>
        <td><span th:text="${subscription.departDate}"> departDate </span></td>
        <td><span th:text="${subscription.returnDate}"> returnDate </span></td>
        <td><span th:text="${subscription.tripDurationInDaysFrom}"> tripDurationInDaysFrom </span></td>
        <td><span th:text="${subscription.tripDurationInDaysTo}"> tripDurationInDaysTo </span></td>
        <td><span th:text="${subscription.subscriptionType}"> subscriptionType </span></td>
    </tr>
    </tbody>
</table>
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>